# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Django stuff:
*.log
db.sqlite3
instance/
media/

# Static files
staticfiles/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.idea/
*.swp
*.swo
*.swn
*.swn
*.bak
*.tmp

# Virtual environment
venv/
env/

# pytest
.cache/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest cache
.pytest_cache/

# Flask instance folder
instance/

# Celery
celerybeat-schedule
celerybeat.pid

# Sphinx documentation
docs/_build/

# PEP 582; used by e.g. python-pipenv
__pypackages__/

# Profiling data
*.prof
